.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 5s linear;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.container {
  height: 100%;
}

@keyframes App-logo-spin {
  0% { transform: rotate(-15deg); }
  10% { transform: rotate(15deg); }
  20% { transform: rotate(-15deg); }
  30% { transform: rotate(15deg); }
  40% { transform: rotate(-15deg); }
  50% { transform: rotate(15deg); }
  60% { transform: rotate(-15deg); }
  70% { transform: rotate(15deg); }
  80% { transform: rotate(-15deg); }
  90% { transform: rotate(15deg); }
  100% { transform: rotate(-15deg); }
}
